*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 62.5%;


}

body{
    min-height: 100vh;
    background-image: linear-gradient(to right , #cc2b5e , #753a88);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container{
    height: 40rem;
    width: 40rem;
    position: relative;
    transform: rotate(-50deg);
   
}


.roller{
    height: 4.5rem;
    width: 15rem;
    border: 0.5rem solid #040e15;
    border-radius: 0.7rem;
    background-image:linear-gradient(to bottom ,#ffca3e 0 , #ffca3e 80% , #fc8f2e 80%) ;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    animation: roller 2s infinite;
    
}

@keyframes roller{
    40%{
        top: 25.5rem;
    }
}
h1{
    margin-bottom: 5rem;
    font-size: 4rem;
    text-transform: capitalize;
    background-image: linear-gradient(to right ,#2193b0 , #6dd5ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
 
    
}
.roller::before{
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,0.7);
    height: 0.7rem;
    width: 7.5rem;
    top: 0.8rem;
    left: 0.8rem;
}

.roller::after{
    position: absolute;
    content: "";
    height: 3rem;
    width: 8.5rem;
    border: 0.7rem solid #040e15;
    border-left: none;
    top: 2rem;
    left: 6.5rem;
    z-index: -1;
    border-radius: 0rem 1rem 1rem 0rem;
}

.handle{
    height: 3rem;
    width: 0.7rem;
    background-color: #040e15;
    position: absolute;
    top: 5.7rem;
    left: 6rem;
    
}

.handle::after{
    position: absolute;
    content: "";
    height: 8rem;
    width: 2.5rem;
    background-color: #040e15;
    top: 2.5rem;
    left: -0.9rem;
    border-radius: 0.5rem;
}

.paint{
    background-color: #ffca3e;
    height: 0;
    width: 13rem;
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
    right: 0;
    z-index: -100;
    margin: auto;
    animation: paint 2s infinite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.paint span{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif ;
    font-weight: 700;
}


@keyframes paint{
    40%{
        height: 25.5rem;
    }
}


@media (min-width:360px) and (max-width:489px){
    .container{
        transform:  rotate(-10deg);
        height: 25rem;
        width: 25rem;
        
    }
    h1{
        font-size: 2.5rem;
        letter-spacing: normal;
        text-align: center;
    }
}